#####################################################################
# 	Fan Control
#####################################################################
# Set a generic_fan speed: SET_FAN_SPEED FAN=config_name SPEED=<speed>
#####################################################################


# [fan]
# ##	Print Cooling Fan
# pin: EBBCan: PA1
# # kick_start_time: 0.5
# ##	Depending on your fan, you may need to increase this value
# ##	if your fan will not start. Can change cycle_time (increase)
# ##	if your fan is not able to slow down effectively
# # off_below: 0.10

# [heater_fan hotend_fan]
# pin: EBBCan:PA0
# heater: extruder
# heater_temp: 50.0
# max_power: 1.0
# shutdown_speed: 0.0
# off_below: 0.3
# fan_speed: 1.0

# For controling Fans from OrcaSlicer: https://github.com/SoftFever/OrcaSlicer/wiki/auxiliary-fan
# instead of using [fan], we define the default part cooling fan with [fan_generic] here
# this is the default part cooling fan
[fan_generic print_cooling_t0]
pin: Right_EBBCan: PA1
cycle_time: 0.01
hardware_pwm: false

[fan_generic print_cooling_t1]
pin: Left_EBBCan: PA1
cycle_time: 0.01
hardware_pwm: false

# this is the auxiliary fan
# comment out it if you don't have auxiliary fan
[fan_generic fan2]
pin: PE5
cycle_time: 0.01
hardware_pwm: false

# this is the exhaust fan
# comment out it if you don't have exhaust fan
[temperature_fan Chamber]
pin: PC12
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: Right_EBBCan: PA3
control: watermark
target_temp: 40
cycle_time: 0.01
hardware_pwm: false
max_power: 0.5
shutdown_speed: 0.0
off_below: 0.3
max_speed: 1.0
min_speed: 0.3
min_temp: 0
max_temp: 100


# [temperature_fan Exhaost]
# #	Exhaost fan
# pin: PC12
# sensor_type: temperature_mcu
# sensor_mcu: EBBCan
# min_temp: 0
# max_temp: 150
# max_delta: 3
# target_temp: 75
# max_speed: 1
# min_speed: 0.1
# control: watermark

[temperature_fan MCU_fan]
#	Controller fan - CNC_FAN2
pin: PE0
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100
max_delta: 3
target_temp: 45
max_speed: 0.7
min_speed: 0.1
control: watermark

[temperature_fan CB1_fan]
#	Controller fan - CNC_FAN2
pin: PE6
sensor_type: temperature_host
min_temp: 0
max_temp: 100
max_delta: 3
target_temp: 50
max_speed: 0.7
min_speed: 0.1
control: watermark


# [fan_generic Nevermore_Filter]
# #	Nevermore fan
# pin: PE5
# cycle_time: 0.01
# hardware_pwm: false

[delayed_gcode Fans_off]
gcode:
    SET_FAN_SPEED FAN=fan2 SPEED=0



[gcode_macro M106]
gcode:
    {% set fan = 'fan' + (params.P|int if params.P is defined else 0)|string %}
    {% set speed = (params.S|float / 255 if params.S is defined else 1.0) %}
    SET_FAN_SPEED FAN={fan} SPEED={speed}
