
#####################################################################
#  IDEX Home Y Routine
#####################################################################

[gcode_macro IDEX_HOME_Y]
gcode:
    # Stealthburner LED Section ##
    #STATUS_HOMING                #
    #SET_DUAL_CARRIAGE CARRIAGE=1 #
    #STATUS_HOMING                #
    #SET_DUAL_CARRIAGE CARRIAGE=0 #
    # End LED Section ############

    G28 Y0
    G91 ; Relative positioning
    G0 Y-25 F2400 ; Move away from the back by 25mm
    G90 ; Return to absolute positioning

    # Stealthburner LED Section ##
    #STATUS_HOMING                #
    #SET_DUAL_CARRIAGE CARRIAGE=1 #
    #STATUS_HOMING                #
    #SET_DUAL_CARRIAGE CARRIAGE=0 #
    # End LED Section ############

#####################################################################
#  IDEX Home X Routine
#####################################################################

[gcode_macro IDEX_HOME_X]
gcode:
    {% set dcvars = printer["gcode_macro DC_VARS"] %}
    {% set prev_z_offset = printer.gcode_move.homing_origin.z|round(3)|float %}
    {% set bed_center = (printer.configfile.config.stepper_x.position_min + printer.configfile.config.dual_carriage.position_max)|float / 2|float %}

    {% if printer.toolhead.extruder == "extruder1" %}
      SET_DUAL_CARRIAGE CARRIAGE=0
      ACTIVATE_EXTRUDER EXTRUDER=extruder
      {% set prev_z_offset = (prev_z_offset - dcvars.offset_z)|round(3) %}
    {% endif %}

    # Stealthburner LED Section ##
    #STATUS_HOMING                #
    #SET_DUAL_CARRIAGE CARRIAGE=1 #
    #STATUS_HOMING                #
    #SET_DUAL_CARRIAGE CARRIAGE=0 #
    # End LED Section ############

    G28 X0
    SET_DUAL_CARRIAGE CARRIAGE=1
    ACTIVATE_EXTRUDER EXTRUDER=extruder1

    # Stealthburner LED Section ##
    #STATUS_READY                 #
    #SET_DUAL_CARRIAGE CARRIAGE=0 #
    #STATUS_READY                 #
    #SET_DUAL_CARRIAGE CARRIAGE=1 #
    # End LED Section ############

    T0 # Switch to T0

    SET_GCODE_OFFSET X=0 Y=0 Z={prev_z_offset} MOVE=1 #set the previous z_offset